.repo-container i {
  margin-right: 3px;
}

.repo-container .dirty-indicator {
  margin-right: 10px;
}


/* #statusbar changes to gracefully handle line-overflow in statusbar */

#statusbar {
  overflow: hidden;
}

#statusbar li {
  margin-bottom: 10px;
}
